@font-face {
    font-family: 'Pretendard-black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@media print {
    .sidebar {
        display: none !important;
    }
}

svg {
    pointer-events: none;
}

body {
    background-color: #337a3e;
    margin: 0 auto;
    font-family: 'Pretendard', sans-serif;
}

#app {
    display: flex;
    height: 100vh;
}

.main {
    flex: 3;
    padding: 20px;
    position: relative;
}

.logo {
    position: absolute;
    cursor: pointer;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.title {
    height: 100px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 5px;
    z-index: 1000;
}

.total-salary {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.total-salary div {
    padding: 0.2em 1em;
}
.total-salary div:first-child {
    border-radius: 10px;
    background-color: #0064B2;
}
.total-salary div:last-child {
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

#order {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5em;
    cursor: pointer;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    background-color: #ddd;
    border-radius: 5px;
}

.base {
    position: relative;
    display: flex;
    height: 100%;
    background-image: url('/baseball-lineup-maker/img/bg_baseball_base.webp');
    /* background-image: url('/img/bg_baseball_base.webp'); */
    background-repeat: no-repeat;
    background-size: 1024px 410px;
    background-position: center 80%;
}

.base>div {
    position: absolute;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    pointer-events: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: stretch;
    font-weight: 900;
    font-size: 0.9em;
    background-color: #6ac9b6;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 10px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: 60px;
}

.salary {
    position: absolute;
    right: 0;
    bottom: -1.5em;
    background-color: #0064B2;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    padding: 0.2em 0.5em;
}

#LF {
    left: 20%;
    top: 30%;
}

#CF {
    left: calc(50% - 50px);
    top: 30%;
}

#RF {
    left: 70%;
    top: 30%;
}

#B1 {
    right: 25%;
    bottom: 30%;
}

#SS {
    left: 35%;
    top: 45%;
}

#B2 {
    right: calc(35% - 50px);
    top: 45%;
}

#B3 {
    left: 25%;
    bottom: 25%;
}

#C {
    left: calc(50% - 50px);
    bottom: 10%
}

#SP {
    left: calc(50% - 50px);
    bottom: 40%
}

#RP {
    left: calc(50% - 50px);
    bottom: 30%;
}

#CP {
    left: calc(50% - 50px);
    bottom: 20%;
}

#DH {
    right: 25%;
    bottom: 10%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f4f4f4;
}

#searchInput {
    padding: 0.7em 0.5em;
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.posTab {
    display: flex;
    margin: 0;
    padding: 0;
}

.posTab li {
    flex: 1;
    text-align: center;
    list-style: none;
    padding: 0.5em 1em;
    background-color: #ddd;
    ;
    cursor: pointer;
}

.posTab li.active {
    background-color: #0064B2;
    color: white;
}

.player-list {
    flex: 1;
    overflow-y: auto;
    padding: 0.5em;
}

.player-item {
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.hint {
    margin: 0 1em;
    text-align: right;
}